<h2>Menu Api hospitales</h2>

<ul>
	<li>
		<a asp-controller="Hospitales" asp-action="Cliente">Api hospitales cliente</a>
	</li>
	<li>
		<a asp-controller="Hospitales" asp-action="Servidor">Api hospitales server</a>
	</li>
</ul>